<!--Sign up Page-->
<ion-content class="bghome no-scroll" padding>
  <h1>
    Sign Up
  </h1>
  <hr>
  <br>
<form #f="ngForm" (ngSubmit)="Onsubmit(f)">

<ion-list class="list" inset>
    <ion-item class="bgitem">
        <ion-input ngModel name="usernsme" type="text" placeholder="Enter your Username"></ion-input>
        <ion-icon  name="person" item-left></ion-icon>

      </ion-item>
  <ion-item class="bgitem">
    <ion-input ngModel name="mail"  type="email" placeholder="Enter your Email" required></ion-input>
    <ion-icon  name="at" item-left></ion-icon>

  </ion-item>
  <ion-item class="bgitem">
    <ion-input  ngModel name="password"   type="password" placeholder="password" required></ion-input>
    <ion-icon  name="unlock" item-left></ion-icon>
 </ion-item>
 <ion-item class="bgitem">
     <ion-input [(ngModel)]="gender" name="gender"  type="text" placeholder="Gender" required></ion-input>
   <ion-icon *ngIf="!((gender=='female')||(gender=='male'))" name="people" item-left></ion-icon>
     <ion-icon  [name]="gender" item-left></ion-icon>

 <!--  <ion-icon *ngIf="geticon(gender)==false&&gender=='female'" name="female" item-left></ion-icon>-->

  </ion-item>
  <ion-item class="bgitem">
      <ion-input ngModel name="age"  type="number" placeholder="Enter your Age" required></ion-input>
      <ion-icon  name="person" item-left></ion-icon>
  </ion-item>
  <ion-item class="bgitem">
      <ion-input ngModel name="address"  type="text" placeholder="Location" required></ion-input>
      <ion-icon  name="pin" item-left></ion-icon>
   </ion-item>
   <ion-item class="bgitem">
      <ion-input ngModel name="phone"  type="text" placeholder="Phone number" required></ion-input>
      <ion-icon  name="call" item-left></ion-icon>
   </ion-item>

  </ion-list>
  <button class="btnsignin" ion-button  block  color="light" round icon-left type="submit" [disabled]="!f.valid">
    <ion-icon  name="log-in"></ion-icon>
    Sign Up </button>

</form>




  <p class= "txtype">Already hava an account?</p>
  <p class="linkpossition" (click)="OnSignIn()" >Signin</p>
</ion-content>
<ion-footer >
  <p> &copy; All the CopyRights Reserved to Alex and Ronnie</p>
</ion-footer>
