page-start {
  .bgstart {
    background-image: url("../../assets/imgs/index-bg.jpg");
    background-repeat: no-repeat;
  }

.btnstar{
  width: 40%;
}
   h1{
      color: white;
    font-size: large;
    text-align: center;
    }
  }

